:root {
  --general-text-color: #757575;
  --tittle-color: #212121;
  --secondary-color: #ffffff;
  --accent-color: #2196f3;
  --hero-bkg-color: #2f303a;
  --hover-button-color: #188ce8;
  --bkg-color: #f5f4fa;
}
h1,h2,h3,p,ul{
  margin-top: 0;
  margin-bottom: 0;
}



body {
  background-color: var(--secondary-color);
  font-family: Roboto, sans-serif;
  color: var(--general-text-color);
  font-size: 14px;
}
.header{
  box-shadow: 0px 4px 4px 0px #00000040;
  padding-top: 32px;
  padding-bottom: 32px;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

  width: 1200px;
  outline: 2px solid tomato;
}


.main-header,
.nav-header{
  display: flex;
  align-items: center;
}

.nav-header,
.nav-list,
.contact-list{
  display: flex;
}
.nav-list{
 margin-left: 93px;
}
.contact-list{
  margin-left: auto;
}

.nav-list .item,
.contact-list .item{
  margin-right: 50px;
  
}
.nav-list .item:last-child{
  margin-right: 0;
}
.contact-list .item:last-child{
  margin-right: 0;
}

.hero {
  background-color: var(--hero-bkg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.list{
  display: flex;
  /* justify-content: space-between; */
 }
 
.item:not(:last-child){
  margin-right: 30px;
}

.benefits,
.work{
  padding-top: 94px;
  padding-bottom: 94px;
}

.tittle {
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
 
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.subtitle {
  color: var(--tittle-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.subtitle-benefits {
  color: var(--tittle-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.subtitle-team {
  color: var(--tittle-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}
.text {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.text-benefits {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.nav-list,
.contact-list,
.list,
.address-list {
  list-style: none;
}

.logo {
  
  color: #000000;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-left: 35px;
}
.logoweb {
  color: var(--accent-color);
}

.nav-list-link{
  color: var(--tittle-color);
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
   
}
.contact-list-link{
  color: var(--general-text-color);
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
}


.nav-list-link:hover,
.nav-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

.button {
  display:inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: transparent;
  
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--hover-button-color);
  color: var(--secondary-color);
}
.team {
  background-color: var(--bkg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.footer {
  background-color: var(--hero-bkg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  
}
.logofooter {
  display: inline-block;
  color: var(--secondary-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-left: 35px;
}
.address-list .street {
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-list .contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-list .contact:hover,
.address-list .contact:focus {
  color: var(--accent-color);
}
/* Портфолио */
.portfolio {
  background-color: var(--secondary-color);
  padding-top: 89px;
  padding-bottom: 99px;
}
.current-button {
  display: inline-block;
  min-width: 73px;
  border-radius: 4px;
  border: transparent;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.portfolio-button {
  background-color: var(--bkg-color);
  color: var(--tittle-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
 .web{
 min-width: 128px;
}
.application{
  min-width: 145px;
}
.design{
  min-width: 103px;
}
.marketing{
  min-width: 130px;
}
.subtitle-work {
  color: var(--tittle-color);
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.work-link {
  display: inline-block;
  text-decoration: none;
}
.work-card{
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 4px;
}
.foto{
  margin-bottom: 20px;
}
.text-work {
  color: var(--general-text-color);
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.team-foto{
  background-color: var(--secondary-color);
  width: 270px;
}
